In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Basic Info

In [4]:
company_name = "Tesla"
company = yf.Ticker("TSLA")

In [5]:
company.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-04 00:00:00-04:00,345.100006,345.600006,327.329987,332.049988,98912100,0.0,0.0
2025-06-05 00:00:00-04:00,322.489990,324.549988,273.209991,284.700012,287499800,0.0,0.0
2025-06-06 00:00:00-04:00,298.829987,305.500000,291.140015,295.140015,164747700,0.0,0.0
2025-06-09 00:00:00-04:00,285.959991,309.829987,281.850006,308.579987,140908900,0.0,0.0
2025-06-10 00:00:00-04:00,314.940002,327.829987,310.670013,326.089996,151256500,0.0,0.0
2025-06-11 00:00:00-04:00,334.399994,335.500000,322.500000,326.429993,122611400,0.0,0.0
2025-06-12 00:00:00-04:00,323.079987,332.559998,316.859985,319.109985,105127500,0.0,0.0
2025-06-13 00:00:00-04:00,313.970001,332.989990,313.299988,325.309998,128964300,0.0,0.0
2025-06-16 00:00:00-04:00,331.290009,332.049988,326.410004,329.130005,83925900,0.0,0.0
2025-06-17 00:00:00-04:00,326.089996,327.260010,314.739990,316.350006,88282700,0.0,0.0
2025-06-18 00:00:00-04:00,317.309998,329.320007,315.450012,322.049988,95137700,0.0,0.0
2025-06-20 00:00:00-04:00,327.950012,332.359985,317.779999,322.160004,108688000,0.0,0.0
2025-06-23 00:00:00-04:00,327.540009,357.540009,327.480011,348.679993,190716800,0.0,0.0
2025-06-24 00:00:00-04:00,356.170013,356.260010,340.440002,340.470001,114736200,0.0,0.0
2025-06-25 00:00:00-04:00,342.700012,343.000000,320.399994,327.549988,119845100,0.0,0.0
2025-06-26 00:00:00-04:00,324.609985,331.049988,323.609985,325.779999,80440900,0.0,0.0
2025-06-27 00:00:00-04:00,324.510010,329.339996,317.500000,323.630005,89067000,0.0,0.0
2025-06-30 00:00:00-04:00,319.899994,325.579987,316.600006,317.660004,76695100,0.0,0.0
2025-07-01 00:00:00-04:00,298.459991,305.890015,293.209991,300.709991,145085700,0.0,0.0
2025-07-02 00:00:00-04:00,312.630005,316.829987,303.820007,315.649994,119483700,0.0,0.0
2025-07-03 00:00:00-04:00,317.989990,318.450012,312.760010,315.350006,58042300,0.0,0.0

In [6]:
company.info

{'address1': '1 Tesla Road',
 'city': 'Austin',
 'state': 'TX',
 'zip': '78725',
 'country': 'United States',
 'phone': '512 516 8177',
 'website': 'https://www.tesla.com',
 'industry': 'Auto Manufacturers',
 'industryKey': 'auto-manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive; and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, body shop and parts, supercharging, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also provides services and repairs to its energy product customers, including under warranty; and various financing options to its residential customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'fullTimeEmployees': 125665,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Elon R. Musk',
   'age': 53,
   'title': 'Co-Founder, Technoking of Tesla, CEO & Director',
   'yearBorn': 1971,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Taneja',
   'age': 46,
   'title': 'Chief Financial Officer',
   'yearBorn': 1978,
   'fiscalYear': 2024,
   'totalPay': 306846,
   'exercisedValue': 9653338,
   'unexercisedValue': 347210016},
  {'maxAge': 1,
   'name': 'Mr. Xiaotong  Zhu',
   'age': 44,
   'title': 'Senior Vice President of APAC',
   'yearBorn': 1980,
   'fiscalYear': 2024,
   'totalPay': 518250,
   'exercisedValue': 0,
   'unexercisedValue': 697024064},
  {'maxAge': 1,
   'name': 'Travis  Axelrod',
   'title': 'Head of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Franz  von Holzhausen',
   'title': 'Chief Designer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. John  Walker',
   'age': 61,
   'title': 'Vice President of Sales - North America',
   'yearBorn': 1963,
   'fiscalYear': 2024,
   'totalPay': 121550,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Peter  Bannon',
   'title': 'Chip Architect',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Turner  Caldwell',
   'title': 'Engineering Manager',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rodney D. Westmoreland Jr.',
   'title': 'Director of Construction Management',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lars  Moravy',
   'title': 'Vice President of Vehicle Engineering',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 9,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 9,
 'overallRisk': 10,
 'governanceEpochDate': 1748736000,
 'compensationAsOfEpochDate': 1735603200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 315.65,
 'open': 317.95,
 'dayLow': 312.76,
 'dayHigh': 318.45,
 'regularMarketPreviousClose': 315.65,
 'regularMarketOpen': 317.95,
 'regularMarketDayLow': 312.76,
 'regularMarketDayHigh': 318.45,
 'payoutRatio': 0.0,
 'beta': 2.461,
 'trailingPE': 182.28323,
 'forwardPE': 97.330246,
 'volume': 58042302,
 'regularMarketVolume': 58042302,
 'averageVolume': 118500386,
 'averageVolume10days': 110280080,
 'averageDailyVolume10Day': 110280080,
 'bid': 314.96,
 'ask': 315.44,
 'bidSize': 1,
 'askSize': 1,
 'marketCap': 1015729750016,
 'fiftyTwoWeekLow': 182.0,
 'fiftyTwoWeekHigh': 488.54,
 'priceToSalesTrailing12Months': 10.611025,
 'fiftyDayAverage': 317.3194,
 'twoHundredDayAverage': 314.4988,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 1000065925120,
 'profitMargins': 0.063829996,
 'floatShares': 2803294819,
 'sharesOutstanding': 3220960000,
 'sharesShort': 77096746,
 'sharesShortPriorMonth': 85015009,
 'sharesShortPreviousMonthDate': 1747267200,
 'dateShortInterest': 1749772800,
 'sharesPercentSharesOut': 0.0239,
 'heldPercentInsiders': 0.12889,
 'heldPercentInstitutions': 0.50134,
 'shortRatio': 0.64,
 'shortPercentOfFloat': 0.0275,
 'impliedSharesOutstanding': 3220960000,
 'bookValue': 23.184,
 'priceToBook': 13.602054,
 'lastFiscalYearEnd': 1735603200,
 'nextFiscalYearEnd': 1767139200,
 'mostRecentQuarter': 1743379200,
 'earningsQuarterlyGrowth': -0.706,
 'netIncomeToCommon': 6106999808,
 'trailingEps': 1.73,
 'forwardEps': 3.24,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1661385600,
 'enterpriseToRevenue': 10.447,
 'enterpriseToEbitda': 79.687,
 '52WeekChange': 0.24673831,
 'SandP52WeekChange': 0.12677538,
 'quoteType': 'EQUITY',
 'currentPrice': 315.35,
 'targetHighPrice': 500.0,
 'targetLowPrice': 115.0,
 'targetMeanPrice': 306.07172,
 'targetMedianPrice': 303.0,
 'recommendationMean': 2.61702,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 41,
 'totalCash': 36996001792,
 'totalCashPerShare': 11.486,
 'ebitda': 12549999616,
 'totalDebt': 13127999488,
 'quickRatio': 1.376,
 'currentRatio': 1.996,
 'totalRevenue': 95724003328,
 'debtToEquity': 17.407,
 'revenuePerShare': 29.867,
 'returnOnAssets': 0.03724,
 'returnOnEquity': 0.087740004,
 'grossProfits': 16906999808,
 'freeCashflow': 3360000000,
 'operatingCashflow': 16837000192,
 'earningsGrowth': -0.707,
 'revenueGrowth': -0.092,
 'grossMargins': 0.17662,
 'ebitdaMargins': 0.13111,
 'operatingMargins': 0.0255,
 'financialCurrency': 'USD',
 'symbol': 'TSLA',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'priceEpsCurrentYear': 168.74826,
 'fiftyDayAverageChange': -1.9693909,
 'fiftyDayAverageChangePercent': -0.0062063364,
 'twoHundredDayAverageChange': 0.8511963,
 'twoHundredDayAverageChangePercent': 0.0027065168,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '2.6 - Hold',
 'cryptoTradeable': False,
 'corporateActions': [],
 'postMarketTime': 1751576398,
 'regularMarketTime': 1751562000,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_27444752',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'regularMarketChangePercent': -0.0950381,
 'regularMarketPrice': 315.35,
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 1277818200000,
 'postMarketChangePercent': -0.849847,
 'postMarketPrice': 312.67,
 'postMarketChange': -2.67999,
 'regularMarketChange': -0.299988,
 'regularMarketDayRange': '312.76 - 318.45',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 118500386,
 'fiftyTwoWeekLowChange': 133.35,
 'fiftyTwoWeekLowChangePercent': 0.73269236,
 'fiftyTwoWeekRange': '182.0 - 488.54',
 'fiftyTwoWeekHighChange': -173.19,
 'fiftyTwoWeekHighChangePercent': -0.35450527,
 'fiftyTwoWeekChangePercent': 24.673832,
 'earningsTimestamp': 1745352420,
 'earningsTimestampStart': 1753128000,
 'earningsTimestampEnd': 1753473600,
 'earningsCallTimestampStart': 1745357400,
 'earningsCallTimestampEnd': 1745357400,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 1.73,
 'epsForward': 3.24,
 'epsCurrentYear': 1.86876,
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'marketState': 'CLOSED',
 'displayName': 'Tesla',
 'trailingPegRatio': 5.5151}

In [7]:
balance = company.balance_sheet
balance

,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN
Ordinary Shares Number,3216000000.0,3185000000.0,3164000000.0,3099000000.0,NaN
Share Issued,3216000000.0,3185000000.0,3164000000.0,3099000000.0,NaN
Total Debt,13623000000.0,9573000000.0,5748000000.0,8873000000.0,NaN
Tangible Book Value,71443000000.0,62019000000.0,44111000000.0,28472000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,36563000000.0,29094000000.0,22185000000.0,17707000000.0,NaN
Other Short Term Investments,20424000000.0,12696000000.0,5932000000.0,131000000.0,NaN
Cash And Cash Equivalents,16139000000.0,16398000000.0,16253000000.0,17576000000.0,NaN
Cash Equivalents,1753000000.0,495000000.0,2288000000.0,9548000000.0,NaN
Cash Financial,14386000000.0,15903000000.0,13965000000.0,8028000000.0,NaN

In [8]:
quarterly_balance= company.quarterly_balance_sheet
quarterly_balance

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Treasury Shares Number,NaN,NaN,0.0,0.0,0.0,0.0
Ordinary Shares Number,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0,NaN
Share Issued,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0,NaN
Total Debt,13128000000.0,13623000000.0,12783000000.0,12515000000.0,9911000000.0,NaN
Tangible Book Value,74261000000.0,71443000000.0,69520000000.0,66055000000.0,63957000000.0,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,36996000000.0,36563000000.0,33648000000.0,30720000000.0,26863000000.0,NaN
Other Short Term Investments,20644000000.0,20424000000.0,15537000000.0,16085000000.0,15058000000.0,NaN
Cash And Cash Equivalents,16352000000.0,16139000000.0,18111000000.0,14635000000.0,11805000000.0,NaN
Cash Equivalents,1452000000.0,1753000000.0,4327000000.0,408000000.0,418000000.0,NaN
Cash Financial,14900000000.0,14386000000.0,13784000000.0,14227000000.0,11387000000.0,NaN

## Balance

In [9]:
balance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, Treasury Shares Number to Cash Financial
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   2024-12-31 00:00:00  74 non-null     object
 1   2023-12-31 00:00:00  77 non-null     object
 2   2022-12-31 00:00:00  77 non-null     object
 3   2021-12-31 00:00:00  77 non-null     object
 4   2020-12-31 00:00:00  5 non-null      object
dtypes: object(5)
memory usage: 3.8+ KB

In [10]:
balance.describe()

          2024-12-31  2023-12-31    2022-12-31    2021-12-31   2020-12-31
count   7.400000e+01        77.0  7.700000e+01  7.700000e+01          5.0
unique  6.400000e+01        64.0  6.500000e+01  6.800000e+01          5.0
top     3.216000e+09         0.0  3.164000e+09  3.099000e+09  604000000.0
freq    2.000000e+00         3.0  2.000000e+00  2.000000e+00          1.0

In [11]:
for col in balance.columns:
    if balance[col].isnull().sum()>20:
        balance.drop(columns=col, inplace=True)

In [12]:
balance.reset_index(inplace=True)

In [13]:
balance

,index,2024-12-31 00:00:00,2023-12-31 00:00:00,2022-12-31 00:00:00,2021-12-31 00:00:00
0,Treasury Shares Number,NaN,0.0,NaN,NaN
1,Ordinary Shares Number,3216000000.0,3185000000.0,3164000000.0,3099000000.0
2,Share Issued,3216000000.0,3185000000.0,3164000000.0,3099000000.0
3,Total Debt,13623000000.0,9573000000.0,5748000000.0,8873000000.0
4,Tangible Book Value,71443000000.0,62019000000.0,44111000000.0,28472000000.0
...,...,...,...,...,...
76,Cash Cash Equivalents And Short Term Investments,36563000000.0,29094000000.0,22185000000.0,17707000000.0
77,Other Short Term Investments,20424000000.0,12696000000.0,5932000000.0,131000000.0
78,Cash And Cash Equivalents,16139000000.0,16398000000.0,16253000000.0,17576000000.0
79,Cash Equivalents,1753000000.0,495000000.0,2288000000.0,9548000000.0
80,Cash Financial,14386000000.0,15903000000.0,13965000000.0,8028000000.0

In [14]:
balance_cols = balance.columns

In [15]:
balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                81 non-null     object
 1   2024-12-31 00:00:00  74 non-null     object
 2   2023-12-31 00:00:00  77 non-null     object
 3   2022-12-31 00:00:00  77 non-null     object
 4   2021-12-31 00:00:00  77 non-null     object
dtypes: object(5)
memory usage: 3.3+ KB

In [16]:
balance_extended = pd.melt(
    balance,
    id_vars={balance_cols[0]},
    var_name= "Date",
    value_name="Value"
)
balance_extended

,index,Date,Value
0,Treasury Shares Number,2024-12-31 00:00:00,NaN
1,Ordinary Shares Number,2024-12-31 00:00:00,3216000000.0
2,Share Issued,2024-12-31 00:00:00,3216000000.0
3,Total Debt,2024-12-31 00:00:00,13623000000.0
4,Tangible Book Value,2024-12-31 00:00:00,71443000000.0
...,...,...,...
319,Cash Cash Equivalents And Short Term Investments,2021-12-31 00:00:00,17707000000.0
320,Other Short Term Investments,2021-12-31 00:00:00,131000000.0
321,Cash And Cash Equivalents,2021-12-31 00:00:00,17576000000.0
322,Cash Equivalents,2021-12-31 00:00:00,9548000000.0
323,Cash Financial,2021-12-31 00:00:00,8028000000.0

Pasamos a numérica y a fecha la columna

In [17]:
balance_extended.dtypes

index    object
Date     object
Value    object
dtype: object

In [18]:
balance_extended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   324 non-null    object
 1   Date    324 non-null    object
 2   Value   305 non-null    object
dtypes: object(3)
memory usage: 7.7+ KB

In [19]:
balance_extended_types = balance_extended.fillna(0)

C:\Users\jaime\AppData\Local\Temp\ipykernel_39212\733573192.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  balance_extended_types = balance_extended.fillna(0)

In [20]:
balance_extended_types['Value'] = pd.to_numeric(balance_extended_types['Value'])

In [21]:
balance_extended_types['Date'] = pd.to_datetime(balance_extended_types['Date'], format ="yyyy-mm-dd")

In [22]:
balance_extended_types.dtypes

index            object
Date     datetime64[ns]
Value           float64
dtype: object

In [23]:
balance_extended_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   324 non-null    object
 1   Date    324 non-null    datetime64[ns]
 2   Value   324 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 7.7+ KB

In [24]:
balance_extended_types['Year'] = balance_extended_types['Date'].dt.year

In [25]:
balance_extended_types

,index,Date,Value,Year
0,Treasury Shares Number,2024-12-31,0.000000e+00,2024
1,Ordinary Shares Number,2024-12-31,3.216000e+09,2024
2,Share Issued,2024-12-31,3.216000e+09,2024
3,Total Debt,2024-12-31,1.362300e+10,2024
4,Tangible Book Value,2024-12-31,7.144300e+10,2024
...,...,...,...,...
319,Cash Cash Equivalents And Short Term Investments,2021-12-31,1.770700e+10,2021
320,Other Short Term Investments,2021-12-31,1.310000e+08,2021
321,Cash And Cash Equivalents,2021-12-31,1.757600e+10,2021
322,Cash Equivalents,2021-12-31,9.548000e+09,2021
323,Cash Financial,2021-12-31,8.028000e+09,2021

## Quarterly balance

In [28]:
quarterly_balance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, Treasury Shares Number to Cash Financial
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   2025-03-31 00:00:00  77 non-null     object
 1   2024-12-31 00:00:00  74 non-null     object
 2   2024-09-30 00:00:00  78 non-null     object
 3   2024-06-30 00:00:00  78 non-null     object
 4   2024-03-31 00:00:00  78 non-null     object
 5   2023-12-31 00:00:00  3 non-null      object
dtypes: object(6)
memory usage: 4.3+ KB

In [29]:
quarterly_balance.describe()

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
count,77.0,7.400000e+01,78.0,78.0,78.0,3.0
unique,64.0,6.400000e+01,64.0,64.0,64.0,2.0
top,0.0,3.216000e+09,0.0,0.0,0.0,0.0
freq,3.0,2.000000e+00,4.0,4.0,3.0,2.0

In [30]:
for col in quarterly_balance.columns:
    if quarterly_balance[col].isnull().sum()>20:
        quarterly_balance.drop(columns=col, inplace=True)

In [31]:
quarterly_balance.reset_index(inplace=True)

In [32]:
quarterly_balance

,index,2025-03-31 00:00:00,2024-12-31 00:00:00,2024-09-30 00:00:00,2024-06-30 00:00:00,2024-03-31 00:00:00
0,Treasury Shares Number,NaN,NaN,0.0,0.0,0.0
1,Ordinary Shares Number,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0
2,Share Issued,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0
3,Total Debt,13128000000.0,13623000000.0,12783000000.0,12515000000.0,9911000000.0
4,Tangible Book Value,74261000000.0,71443000000.0,69520000000.0,66055000000.0,63957000000.0
...,...,...,...,...,...,...
74,Cash Cash Equivalents And Short Term Investments,36996000000.0,36563000000.0,33648000000.0,30720000000.0,26863000000.0
75,Other Short Term Investments,20644000000.0,20424000000.0,15537000000.0,16085000000.0,15058000000.0
76,Cash And Cash Equivalents,16352000000.0,16139000000.0,18111000000.0,14635000000.0,11805000000.0
77,Cash Equivalents,1452000000.0,1753000000.0,4327000000.0,408000000.0,418000000.0
78,Cash Financial,14900000000.0,14386000000.0,13784000000.0,14227000000.0,11387000000.0

In [33]:
quarterly_balance_cols = quarterly_balance.columns

In [34]:
quarterly_balance_extended = pd.melt(
    quarterly_balance,
    id_vars={quarterly_balance_cols[0]},
    var_name= "Date",
    value_name="Value"
)
quarterly_balance_extended

,index,Date,Value
0,Treasury Shares Number,2025-03-31 00:00:00,NaN
1,Ordinary Shares Number,2025-03-31 00:00:00,3220000000.0
2,Share Issued,2025-03-31 00:00:00,3220000000.0
3,Total Debt,2025-03-31 00:00:00,13128000000.0
4,Tangible Book Value,2025-03-31 00:00:00,74261000000.0
...,...,...,...
390,Cash Cash Equivalents And Short Term Investments,2024-03-31 00:00:00,26863000000.0
391,Other Short Term Investments,2024-03-31 00:00:00,15058000000.0
392,Cash And Cash Equivalents,2024-03-31 00:00:00,11805000000.0
393,Cash Equivalents,2024-03-31 00:00:00,418000000.0
394,Cash Financial,2024-03-31 00:00:00,11387000000.0

In [35]:
quarterly_balance_extended.dtypes

index    object
Date     object
Value    object
dtype: object

In [36]:
quarterly_balance_extended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   395 non-null    object
 1   Date    395 non-null    object
 2   Value   385 non-null    object
dtypes: object(3)
memory usage: 9.4+ KB

In [39]:
quarterly_balance_extended_types = quarterly_balance_extended.copy()
quarterly_balance_extended_types = quarterly_balance_extended_types.fillna(0)

C:\Users\jaime\AppData\Local\Temp\ipykernel_39212\3752723322.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  quarterly_balance_extended_types = quarterly_balance_extended_types.fillna(0)

In [40]:
quarterly_balance_extended_types['Value'] = pd.to_numeric(quarterly_balance_extended_types['Value'])

In [41]:
quarterly_balance_extended_types['Date'] = pd.to_datetime(quarterly_balance_extended_types['Date'], format ="yyyy-mm-dd")

In [48]:
quarterly_balance_extended_types['Year'] = quarterly_balance_extended_types['Date'].dt.year
quarterly_balance_extended_types['Month'] = quarterly_balance_extended_types['Date'].dt.month

In [49]:
quarterly_balance_extended_types

,index,Date,Value,Year,Month
0,Treasury Shares Number,2025-03-31,0.000000e+00,2025,3
1,Ordinary Shares Number,2025-03-31,3.220000e+09,2025,3
2,Share Issued,2025-03-31,3.220000e+09,2025,3
3,Total Debt,2025-03-31,1.312800e+10,2025,3
4,Tangible Book Value,2025-03-31,7.426100e+10,2025,3
...,...,...,...,...,...
390,Cash Cash Equivalents And Short Term Investments,2024-03-31,2.686300e+10,2024,3
391,Other Short Term Investments,2024-03-31,1.505800e+10,2024,3
392,Cash And Cash Equivalents,2024-03-31,1.180500e+10,2024,3
393,Cash Equivalents,2024-03-31,4.180000e+08,2024,3
394,Cash Financial,2024-03-31,1.138700e+10,2024,3

# Exportamos archivos

In [50]:
balance_extended_types.to_excel(f"C:/Users/jaime/Escritorio/Github/X_Financial_Analyst/balance.xlsx")
quarterly_balance_extended_types.to_excel(f"C:/Users/jaime/Escritorio/Github/X_Financial_Analyst/quarterly_balance.xlsx")

# Competition

## Sector 1

In [51]:
sector_1 = " Electric Vehicles"

### Tickers

In [52]:
tesla_ev_competitors = {
    "BYD": "BYDDY",
    "NIO": "NIO",
    "Xpeng": "XPEV",
    "Li_Auto": "LI",
    "Rivian": "RIVN",
    "Lucid": "LCID",
    "Ford": "F",
    "General_Motors": "GM"
}

## Sector 2

In [53]:
sector_2 = " Energy and batteries"

### Tickers

In [54]:
tesla_energy_competitors = {
    "Enphase_Energy": "ENPH",
    "SolarEdge": "SEDG",
    "SunPower": "SPWR",
    "Fluence_Energy": "FLNC",
    "NextEra_Energy": "NEE"
}

## Sector 3

In [55]:
sector_3 = "Technology"

### Tickers

In [56]:
tesla_ai_competitors = {
    "Waymo_Alphabet": "GOOGL",
    "Cruise_GM": "GM", 
    "Mobileye": "MBLY",
    "Aurora": "AUR",
    "Apple": "AAPL"
}

## Sector 4

In [57]:
sector_4 = "Substitutes Vehicles"

### Tickers

In [58]:
tesla_substitute_competitors = {
    "Toyota": "TM",
    "Honda": "HMC",
    "Nissan": "NSANY",
    "Renault": "RNO",
    "Chevrolet": "GM",      
    "Mercedes_Benz": "MBGYY",
    "BMW": "BMWYY",
    "Audi": "NSU",             
    "Porsche": "POAHY",
    "Volvo": "VOLVY"
}

# Company historicals

In [68]:
company_historical = company.history(period='max')

In [69]:
company_historical.reset_index(inplace=True)

In [70]:
company_historical

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...,...
3772,2025-06-27 00:00:00-04:00,324.510010,329.339996,317.500000,323.630005,89067000,0.0,0.0
3773,2025-06-30 00:00:00-04:00,319.899994,325.579987,316.600006,317.660004,76695100,0.0,0.0
3774,2025-07-01 00:00:00-04:00,298.459991,305.890015,293.209991,300.709991,145085700,0.0,0.0
3775,2025-07-02 00:00:00-04:00,312.630005,316.829987,303.820007,315.649994,119483700,0.0,0.0
3776,2025-07-03 00:00:00-04:00,317.989990,318.450012,312.760010,315.350006,58042300,0.0,0.0

In [71]:
company_historical.dtypes

Date            datetime64[ns, America/New_York]
Open                                     float64
High                                     float64
Low                                      float64
Close                                    float64
Volume                                     int64
Dividends                                float64
Stock Splits                             float64
dtype: object

In [91]:
company_historical['Date'] = pd.to_datetime(company_historical['Date']).dt.date

In [92]:
company_historical

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.267,1.667,1.169,1.593,281494500,0.0,0.0
1,2010-06-30,1.719,2.028,1.553,1.589,257806500,0.0,0.0
2,2010-07-01,1.667,1.728,1.351,1.464,123282000,0.0,0.0
3,2010-07-02,1.533,1.540,1.247,1.280,77097000,0.0,0.0
4,2010-07-06,1.333,1.333,1.055,1.074,103003500,0.0,0.0
...,...,...,...,...,...,...,...,...
3772,2025-06-27,324.510,329.340,317.500,323.630,89067000,0.0,0.0
3773,2025-06-30,319.900,325.580,316.600,317.660,76695100,0.0,0.0
3774,2025-07-01,298.460,305.890,293.210,300.710,145085700,0.0,0.0
3775,2025-07-02,312.630,316.830,303.820,315.650,119483700,0.0,0.0
3776,2025-07-03,317.990,318.450,312.760,315.350,58042300,0.0,0.0

In [73]:
company_historical.dtypes

Date            datetime64[ns, America/New_York]
Open                                     float64
High                                     float64
Low                                      float64
Close                                    float64
Volume                                     int64
Dividends                                float64
Stock Splits                             float64
dtype: object

In [75]:
columns = ['Open', 'High', 'Low', 'Close']
company_historical[columns] = company_historical[columns].apply(lambda x: round(x,3))

In [93]:
def preprocess_historical_data(df):
    df.reset_index(inplace=True)
    df['Date'] = pd.to_datetime(df['Date']).dt.date
    columns = ['Open', 'High', 'Low', 'Close']
    df[columns] = df[columns].apply(lambda x: round(x,3))

    return df

# Comparing historicals with competition

## Sector 1

In [94]:
tesla_ev_competitors_dict = {}

for competitor in tesla_ev_competitors:
    print(competitor)
    tesla_ev_competitors_dict[competitor] = preprocess_historical_data(company.history(period='max'))

BYD
NIO
Xpeng
Li_Auto
Rivian
Lucid
Ford
General_Motors

In [95]:
tesla_ev_competitors_dict['BYD']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.267,1.667,1.169,1.593,281494500,0.0,0.0
1,2010-06-30,1.719,2.028,1.553,1.589,257806500,0.0,0.0
2,2010-07-01,1.667,1.728,1.351,1.464,123282000,0.0,0.0
3,2010-07-02,1.533,1.540,1.247,1.280,77097000,0.0,0.0
4,2010-07-06,1.333,1.333,1.055,1.074,103003500,0.0,0.0
...,...,...,...,...,...,...,...,...
3772,2025-06-27,324.510,329.340,317.500,323.630,89067000,0.0,0.0
3773,2025-06-30,319.900,325.580,316.600,317.660,76695100,0.0,0.0
3774,2025-07-01,298.460,305.890,293.210,300.710,145085700,0.0,0.0
3775,2025-07-02,312.630,316.830,303.820,315.650,119483700,0.0,0.0
3776,2025-07-03,317.990,318.450,312.760,315.350,58042300,0.0,0.0

In [101]:


with pd.ExcelWriter('C:/Users/jaime/Escritorio/Github/X_Financial_Analyst/tesla_ev_competitors.xlsx', engine='openpyxl') as writer:
    for df_name, df in tesla_ev_competitors_dict.items():
        df.to_excel(writer, sheet_name=df_name)

## Sector 2

## Sector 3

## Sector 4