In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = yf.Ticker("TSLA")

In [3]:
data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-04 00:00:00-04:00,345.100006,345.600006,327.329987,332.049988,98912100,0.0,0.0
2025-06-05 00:00:00-04:00,322.489990,324.549988,273.209991,284.700012,287499800,0.0,0.0
2025-06-06 00:00:00-04:00,298.829987,305.500000,291.140015,295.140015,164747700,0.0,0.0
2025-06-09 00:00:00-04:00,285.959991,309.829987,281.850006,308.579987,140908900,0.0,0.0
2025-06-10 00:00:00-04:00,314.940002,327.829987,310.670013,326.089996,151256500,0.0,0.0
2025-06-11 00:00:00-04:00,334.399994,335.500000,322.500000,326.429993,122611400,0.0,0.0
2025-06-12 00:00:00-04:00,323.079987,332.559998,316.859985,319.109985,105127500,0.0,0.0
2025-06-13 00:00:00-04:00,313.970001,332.989990,313.299988,325.309998,128964300,0.0,0.0
2025-06-16 00:00:00-04:00,331.290009,332.049988,326.410004,329.130005,83925900,0.0,0.0
2025-06-17 00:00:00-04:00,326.089996,327.260010,314.739990,316.350006,88282700,0.0,0.0
2025-06-18 00:00:00-04:00,317.309998,329.320007,315.450012,322.049988,95137700,0.0,0.0
2025-06-20 00:00:00-04:00,327.950012,332.359985,317.779999,322.160004,108688000,0.0,0.0
2025-06-23 00:00:00-04:00,327.540009,357.540009,327.480011,348.679993,190716800,0.0,0.0
2025-06-24 00:00:00-04:00,356.170013,356.260010,340.440002,340.470001,114736200,0.0,0.0
2025-06-25 00:00:00-04:00,342.700012,343.000000,320.399994,327.549988,119845100,0.0,0.0
2025-06-26 00:00:00-04:00,324.609985,331.049988,323.609985,325.779999,80440900,0.0,0.0
2025-06-27 00:00:00-04:00,324.510010,329.339996,317.500000,323.630005,89067000,0.0,0.0
2025-06-30 00:00:00-04:00,319.899994,325.579987,316.600006,317.660004,76695100,0.0,0.0
2025-07-01 00:00:00-04:00,298.459991,305.890015,293.209991,300.709991,145085700,0.0,0.0
2025-07-02 00:00:00-04:00,312.630005,316.829987,303.820007,315.649994,119483700,0.0,0.0
2025-07-03 00:00:00-04:00,317.989990,318.450012,312.760010,315.350006,58042300,0.0,0.0